<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="N0817034_SoftEng2_Project.Properties.Settings.C__USERS_JAMES_SOURCE_REPOS_N0817034_SOFTENG2_PROJECT_N0817034_SOFTENG2_PROJECT_WMSDATABASE_MDFConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=C:\USERS\JAMES\SOURCE\REPOS\N0817034-SOFTENG2-PROJECT\N0817034-SOFTENG2-PROJECT\WMSDATABASE.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>